body{
    padding-top: 20px;
    background-color: #F1F4F5
}


::-webkit-scrollbar {
    width:5px;
    height:5px;
}
::-webkit-scrollbar-track {
    background-color: #F1F4F5;
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
    background-color: #62A8EA;
} /* this will style the thumb, ignoring the track */

::-webkit-scrollbar-button {
    width:0;
    height:0;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-corner {
    background-color: black;
}



@keyframes explode {
    0% {

        Opacity:1
    }
    100%{


        Opacity:0
    }
}
@keyframes flow {
    0% {
        opacity:.5
    }
    50% {
        opacity:1
    }
    100% {
        opacity:0.5
    }
}

.leaflet-clickable{
    animation:flow 3s  infinite
}


.panel {
    padding: 20px;
    overflow: auto;
}
.panel-body {
    padding: 0;
}

.grid-item {
    width: 24%;
}

#left {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#filter-panel {
    flex: 0 1 auto;
    overflow-y:auto;
}

#map-panel {
    flex: 1 0 auto;
    margin-top: 5px;
    padding: 0;
}


#right {
    display:flex;
    flex-direction: column;
    height:100%;
}

#content-panel {
    flex: 1 0 0;
}
