body {
    padding-top: 20px;
    background-color: #F1F4F5
}

.panel-bordered > .panel-body {
    padding: 0;
}

/* Fancy checkboxes */

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.3s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

a.list-group-item {
    border-radius: 3px;
}
.thumbnail {
    padding: 0;
}


::-webkit-scrollbar {
    width:5px;
    height:5px;
}
::-webkit-scrollbar-track {
    background-color: #F1F4F5;
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
    background-color: #62A8EA;
} /* this will style the thumb, ignoring the track */

::-webkit-scrollbar-button {
    width:0;
    height:0;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-corner {
    background-color: black;
}



@keyframes explode {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(2);
    }
}
@keyframes flow {
    0% { opacity: .5; }
    50% { opacity: 1; }
    100% { opacity: .5; }
}

path.basic {
    animation: flow 3s infinite
}
path.hoverLayer {
    animation: explode 1s infinite;
    transform-origin: 50% 50%;

}


.panel {
    padding: 20px;
    overflow: auto;
}
.panel-body {
    padding: 0;
}

.grid-item {
    width: 24%;
    margin: 5px 0.5%;

    transition: box-shadow .3s;
}

.grid-item:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    cursor: pointer;
}

.grid-item .caption {
    transition: background-color .3s;
    background-color: white;
}
.grid-item:hover .caption {
    background-color: #E8F1F8;
}

@keyframes highlight {
    0% { background-color: white; }
    40% { background-color: #62a8ea; }
    80% { background-color: white; }
    100% { background-color: white; }
}
.grid-item.highlight .caption {
    animation: highlight 2s infinite;
}



#left {
    display: flex;
    flex-direction: column;
    height: 100%;
}
#left > .panel {
    flex: 0 1 auto;
}

#left > #map-panel {
    padding: 0;
    flex: 1 0;
    border: 0;

    display: flex;
}
#map {
    flex: 1 0;
}

#filter-panel {
    flex: 0 1 auto;
    overflow-y: auto;
    padding: 10px 20px;
}
#filter-categories {
    padding-bottom: 1em;
    border-bottom: 1px solid #F1F4F5;
}
#filter-footer {
    margin-top: 1em;
}
#location-switch {
    display: inline-block;
    margin-left: .5em;
}
#location-switch label {
    background-color: #62a8ea;
}
.category-item {
    text-transform: uppercase;
    cursor: pointer;
}
.category-item.active {
    background-color: #62a8ea;
    color: white;
}
.category-item[name="all"] {
    font-weight: bold;
}


#right {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#content-panel {
    flex: 1 0 0;
    overflow-y:scroll;
}

#myModal .thumbnail {
    border: none;
    margin: 0;
}

#myModal img {
    max-height:400px;
}
