body {
    padding-top: 20px;
    background-color: #F1F4F5
}

.panel-bordered > .panel-body {
    padding: 0;
}

/* Fancy checkboxes */

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}


::-webkit-scrollbar {
    width:5px;
    height:5px;
}
::-webkit-scrollbar-track {
    background-color: #F1F4F5;
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
    background-color: #62A8EA;
} /* this will style the thumb, ignoring the track */

::-webkit-scrollbar-button {
    width:0;
    height:0;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-corner {
    background-color: black;
}



@keyframes explode {
    0% {

        Opacity:1
    }
    100%{


        Opacity:0
    }
}
@keyframes flow {
    0% {
        opacity:.5
    }
    50% {
        opacity:1
    }
    100% {
        opacity:0.5
    }
}

.leaflet-clickable{
    animation:flow 3s  infinite
}


.panel {
    padding: 20px;
    overflow: auto;
}
.panel-body {
    padding: 0;
}

.grid-item {
    width: 24%;
    margin: 5px 0.5%;
}

#left {
    display: flex;
    flex-direction: column;
    height: 100%;
}
#left > .panel {
    flex: 0 1 auto;
}

#left > #map-panel {
    padding: 0;
    flex: 1 0;
    border: 0;

    display: flex;
}
#map {
    flex: 1 0;
}

#filter-panel {
    flex: 0 1 auto;
    overflow-y:auto;
}
#location-switch {
    display: inline-block;
    margin-left: .5em;
}
#location-switch label {
    background-color: #62a8ea;
}
.category-item {
    text-transform: uppercase;
    cursor: pointer;
}
.category-item.active {
    background-color: #62a8ea;
    color: white;
}
.category-item[name="all"] {
    font-weight: bold;
}


#right {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#content-panel {
    flex: 1 0 0;
    overflow-y:scroll;
}
